[defaults]
inventory            = ./ansible/inventory/aws_ec2.yml
remote_user          = ubuntu
private_key_file     = ./.ssh/rd-web-key
host_key_checking    = False
interpreter_python   = /usr/bin/python3
roles_path           = ./ansible/roles
deprecation_warnings = False

[inventory]
enable_plugins = aws_ec2